chromadb==1.0.9
groq==0.25.0
langchain==0.3.25
langchain-chroma==0.2.4
langchain-core==0.3.60
langchain-groq==0.3.2
langchain-huggingface==0.2.0
langchain-text-splitters==0.3.8
langgraph==0.4.5
langsmith==0.3.42
python-dotenv==1.1.0
sentence-transformers==4.1.0
streamlit==1.45.1
